<div class="actor-defense">
  <h3>Armor</h3>
  <div class="armor-section">
    <h4>Head</h4>
    <div class="field">
      <label>Name:</label>
      <input type="text" name="system.armor.head.name" value="{{system.armor.head.name}}" placeholder="Helmet">
    </div>
    <div class="field">
      <label>DEF:</label>
      <input type="number" name="system.armor.head.def" value="{{system.armor.head.def}}" placeholder="2">
    </div>
    <div class="field">
      <label>Special:</label>
      <input type="text" name="system.armor.head.special" value="{{system.armor.head.special}}" placeholder="None">
    </div>
    <div class="field">
      <label>Durability:</label>
      <input type="number" name="system.armor.head.durability" value="{{system.armor.head.durability}}" placeholder="10">
    </div>
  </div>
  <div class="armor-section">
    <h4>Arms</h4>
    <div class="field">
      <label>Name:</label>
      <input type="text" name="system.armor.arms.name" value="{{system.armor.arms.name}}" placeholder="Gauntlets">
    </div>
    <div class="field">
      <label>DEF:</label>
      <input type="number" name="system.armor.arms.def" value="{{system.armor.arms.def}}" placeholder="1">
    </div>
    <div class="field">
      <label>Special:</label>
      <input type="text" name="system.armor.arms.special" value="{{system.armor.arms.special}}" placeholder="None">
    </div>
    <div class="field">
      <label>Durability:</label>
      <input type="number" name="system.armor.arms.durability" value="{{system.armor.arms.durability}}" placeholder="8">
    </div>
  </div>
  <div class="armor-section">
    <h4>Legs</h4>
    <div class="field">
      <label>Name:</label>
      <input type="text" name="system.armor.legs.name" value="{{system.armor.legs.name}}" placeholder="Greaves">
    </div>
    <div class="field">
      <label>DEF:</label>
      <input type="number" name="system.armor.legs.def" value="{{system.armor.legs.def}}" placeholder="1">
    </div>
    <div class="field">
      <label>Special:</label>
      <input type="text" name="system.armor.legs.special" value="{{system.armor.legs.special}}" placeholder="None">
    </div>
    <div class="field">
      <label>Durability:</label>
      <input type="number" name="system.armor.legs.durability" value="{{system.armor.legs.durability}}" placeholder="8">
    </div>
  </div>
  <div class="armor-section">
    <h4>Torso</h4>
    <div class="field">
      <label>Name:</label>
      <input type="text" name="system.armor.torso.name" value="{{system.armor.torso.name}}" placeholder="Breastplate">
    </div>
    <div class="field">
      <label>DEF:</label>
      <input type="number" name="system.armor.torso.def" value="{{system.armor.torso.def}}" placeholder="3">
    </div>
    <div class="field">
      <label>Special:</label>
      <input type="text" name="system.armor.torso.special" value="{{system.armor.torso.special}}" placeholder="None">
    </div>
    <div class="field">
      <label>Durability:</label>
      <input type="number" name="system.armor.torso.durability" value="{{system.armor.torso.durability}}" placeholder="12">
    </div>
  </div>
  <div class="armor-section">
    <h4>Shield</h4>
    <div class="field">
      <label>Name:</label>
      <input type="text" name="system.armor.shield.name" value="{{system.armor.shield.name}}" placeholder="Shield">
    </div>
    <div class="field">
      <label>DEF:</label>
      <input type="number" name="system.armor.shield.def" value="{{system.armor.shield.def}}" placeholder="2">
    </div>
    <div class="field">
      <label>Special:</label>
      <input type="text" name="system.armor.shield.special" value="{{system.armor.shield.special}}" placeholder="None">
    </div>
    <div class="field">
      <label>Durability:</label>
      <input type="number" name="system.armor.shield.durability" value="{{system.armor.shield.durability}}" placeholder="10">
    </div>
  </div>
  <div class="accessories">
    <h3>Accessories</h3>
    <div class="field">
      <label>Necklace:</label>
      <input type="text" name="system.accessories.necklace.name" value="{{system.accessories.necklace.name}}" placeholder="Amulet">
      <label>Special:</label>
      <input type="text" name="system.accessories.necklace.special" value="{{system.accessories.necklace.special}}" placeholder="None">
    </div>
    <div class="field">
      <label>Ring 1:</label>
      <input type="text" name="system.accessories.ring1.name" value="{{system.accessories.ring1.name}}" placeholder="Ring">
      <label>Special:</label>
      <input type="text" name="system.accessories.ring1.special" value="{{system.accessories.ring1.special}}" placeholder="None">
    </div>
    <div class="field">
      <label>Ring 2:</label>
      <input type="text" name="system.accessories.ring2.name" value="{{system.accessories.ring2.name}}" placeholder="Ring">
      <label>Special:</label>
      <input type="text" name="system.accessories.ring2.special" value="{{system.accessories.ring2.special}}" placeholder="None">
    </div>
    <div class="field">
      <label>Relic (N):</label>
      <input type="text" name="system.accessories.relicN.name" value="{{system.accessories.relicN.name}}" placeholder="Relic">
      <label>Special:</label>
      <input type="text" name="system.accessories.relicN.special" value="{{system.accessories.relicN.special}}" placeholder="None">
    </div>
    <div class="field">
      <label>Relic (R):</label>
      <input type="text" name="system.accessories.relicR.name" value="{{system.accessories.relicR.name}}" placeholder="Relic">
      <label>Special:</label>
      <input type="text" name="system.accessories.relicR.special" value="{{system.accessories.relicR.special}}" placeholder="None">
    </div>
  </div>
</div>