<div class="item-race">
    <label>STR Formula: <input name="system.stats.str" type="text" value="{{system.stats.str}}" /></label>
    <label>CON Formula: <input name="system.stats.con" type="text" value="{{system.stats.con}}" /></label>
    <label>DEX Formula: <input name="system.stats.dex" type="text" value="{{system.stats.dex}}" /></label>
    <label>WIS Formula: <input name="system.stats.wis" type="text" value="{{system.stats.wis}}" /></label>
    <label>RES Formula: <input name="system.stats.res" type="text" value="{{system.stats.res}}" /></label>
    <label>Traits: <input name="system.traits" type="text" value="{{system.traits}}" /></label>
    <label>Limitations: <input name="system.limitations" type="text" value="{{system.limitations}}" /></label>
    <label>Hit Die: <input name="system.hitDie" type="text" value="{{system.hitDie}}" /></label>
  </div>