<div class="item-profession">
    <label>Talents: <input name="system.talents" type="text" value="{{system.talents}}" /></label>
    <label>Perks: <input name="system.perks" type="text" value="{{system.perks}}" /></label>
    <label>Starting Equipment: <input name="system.startingEquipment" type="text" value="{{system.startingEquipment}}" /></label>
    <label>Limitations: <input name="system.limitations" type="text" value="{{system.limitations}}" /></label>
    <h3>Skill Modifiers</h3>
    <label>Combat Skill: <input name="system.skills.combatSkill" type="number" value="{{system.skills.combatSkill}}" /></label>
    <label>Ranged Skill: <input name="system.skills.rangedSkill" type="number" value="{{system.skills.rangedSkill}}" /></label>
    <label>Dodge: <input name="system.skills.dodge" type="number" value="{{system.skills.dodge}}" /></label>
    <label>Pick Locks: <input name="system.skills.pickLocks" type="number" value="{{system.skills.pickLocks}}" /></label>
    <label>Barter: <input name="system.skills.barter" type="number" value="{{system.skills.barter}}" /></label>
    <label>Heal: <input name="system.skills.heal" type="number" value="{{system.skills.heal}}" /></label>
    <label>Alchemy: <input name="system.skills.alchemy" type="number" value="{{system.skills.alchemy}}" /></label>
    <label>Perception: <input name="system.skills.perception" type="number" value="{{system.skills.perception}}" /></label>
    <label>Arcane Art: <input name="system.skills.arcaneArt" type="text" value="{{system.skills.arcaneArt}}" /></label>
    <label>Foraging: <input name="system.skills.foraging" type="number" value="{{system.skills.foraging}}" /></label>
    <label>Battle Prayers: <input name="system.skills.battlePrayers" type="text" value="{{system.skills.battlePrayers}}" /></label>
    <label>Hit Points: <input name="system.skills.hitPoints" type="number" value="{{system.skills.hitPoints}}" /></label>
  </div>