<div class="item-spell">
    <label>CV: <input name="system.cv" type="number" value="{{system.cv}}" /></label>
    <label>Mana: <input name="system.mana" type="number" value="{{system.mana}}" /></label>
    <label>Upkeep: <input name="system.upkeep" type="text" value="{{system.upkeep}}" /></label>
    <label>Special: <input name="system.special" type="text" value="{{system.special}}" /></label>
    <label>School: <input name="system.school" type="text" value="{{system.school}}" /></label>
  </div>